<div style="margin-left: 10px; margin-top: 10px;">
    
    Hello <%userName%><br /><br />
    
    Your Account has been un-locked by admin, for security reasons, your password is reset.
    <br /><br/>
    Please use '<%password%>' as your password to login.

    <br /><br />
    <!-- At any point, you may reset this temporary password by clicking on Login/Signup button and then choosing "forgot password" option.
    <br /><br /> -->
    Thanks & regards,<br />
    The ANAND Group HR Team
        
</div>
