<div style="margin-left: 40px; margin-top: 40px;">
    <!-- <div style=" text-align: center; background: #eaeef0; height: 100px; margin-bottom: 50px; font-family:  'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';">
        <img src='http://anand.hraudit.pragaut.com/static/AnandGroup.png' style="height: 100px;">
    </div> -->
    
    Dear <%userName%>!<br /><br />
    
    The OTP for resetting your password is <%otp%>.

    <br /><br />
    Regards,<br />
    ANAND
        
</div>
