<div style="margin-left: 40px; margin-top: 40px;">
    <div style=" text-align: center; background: #1a1a1a; height: 100px; margin-bottom: 50px; font-family:  'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'; border-radius:3px;">
        <img src='http://anand.hraudit.pragaut.com/static/AnandGroup.png' style="height: 100px;">
    </div>
    
    Dear <%userName%>!<br /><br />
    
    Your OTP for ANAND HR-AUDIT is <%otp%>. Please note that this is valid only for 15 mintues.

    <br /><br />
    Thanks & regards,<br />
    ANAND
        
</div>
