<!DOCTYPE html>
<html>
  <head>
    <title>&nbsp;</title>
  </head>
  <body>
<body>
    <div style="margin-left: 40px; margin-top: 40px;">
       <div style="text-align: center;color:#b8984b;font-size:45px; background: #1a1a1a; height: 70px; margin-bottom: 50px; font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'; border-radius:3px;">
            <b> ANAND</b>
        </div>

        Dear <%userName%>!<br /><br />

        The OTP for verifying this email is <%otp%>.

        <br /><br />
        Thanks & regards,<br />
        ANAND
    </div>
</body>

</html>