<div style="margin-left: 40px; margin-top: 40px;">
    <div style=" text-align: center; background: #346d91; height: 150px; margin-bottom: 50px; font-family:  'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';">
        <img src='/static/logo.png' style="height: 150px;">
    </div>
    
    Dear <%userName%>,<br /><br />
    
    Team ANAND welcomes you on-board. In order to prove the authenticity and keep our system away from malicious users, we would like you to verify your email account by clicking the following link.<br /><br />

    <div style="text-align: center; background: cornsilk; height: 50px; line-height: 50px;"><a href='<%url%>'>Click to verify</a></div>

    <br /><br /> 
    Thanks & regards,<br />
    The ANAND Team
        
</div>
